<div class='container pt-5'>
  <h1>Luiz Fernando C A, <br>
      Sofware Engineer.
  </h1>
  <p>"Even the very wise cannot see all ends."</p>
  <div id='about'>
    <%= image_tag "perfil.jpeg", class: 'luiz' %>
  </div>
  <a href="https://github.com/Luizfcalvarenga" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/luiz-fernando-chaves-alvarenga-6a4001121" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>

</div>
