<div class='container pt-5'>
  <h1 id='title'>Luiz Fernando C A, <br>
      Sofware Engineer.
  </h1>
  <p id='title_p'>"Even the very wise cannot see all ends."</p>
  <div id='about'>
    <div class='about-grid'>
      <%= image_tag "perfil.jpeg", class: 'luiz' %>
    </div>
    <div class='about-grid'>
      <h3>About</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum nibh lorem.
        <br> Nullam vel ligula hendrerit, tincidunt est non, tristique velit. Vivamus tortor risus,
        <br> laoreet vitae luctus id, vestibulum a magna. Maecenas maximus eros purus. Aenean
        <br> vitae efficitur ante. Vivamus suscipit elit eu pellentesque rutrum.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum nibh lorem.
        <br> Nullam vel ligula hendrerit, tincidunt est non, tristique velit. Vivamus tortor risus,
        <br> laoreet vitae luctus id, vestibulum a magna. Maecenas maximus eros purus. Aenean
        <br> vitae efficitur ante. Vivamus suscipit elit eu pellentesque rutrum.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum nibh lorem.
        <br> Nullam vel ligula hendrerit, tincidunt est non, tristique velit. Vivamus tortor risus,
        <br> laoreet vitae luctus id, vestibulum a magna. Maecenas maximus eros purus. Aenean
        <br> vitae efficitur ante. Vivamus suscipit elit eu pellentesque rutrum.
      </p>
    </div>
  </div>
   <div id='experience' class='pt-5'>
     <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
  </div>
  <div class='pt-5'>
    <a href="https://github.com/Luizfcalvarenga" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/luiz-fernando-chaves-alvarenga-6a4001121" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</div>
