@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;1,300&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

#title {
  font-family: 'Ubuntu';
  color: white;
}

#title_p {
  color: red;
  font-family: 'Red Hat Mono';
}
