@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;1,300&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;1,100;1,200&display=swap');
.title {
  font-family: 'Roboto Mono';
  color: rgb(9, 244, 28);

}

.title_p {
  color: rgb(9, 244, 28);
  font-family: 'Roboto Mono';
}

.section {
  font-family: 'Roboto Mono';
  color: rgb(9, 244, 28);
}

.email {
  font-family: 'Roboto Mono';
  color: rgb(9, 244, 28);
  font-size: 20px;
  position: absolute;
  left: 206px;
  bottom: 5px;
}

@media (max-width: 450px) {

  .email {
    position: absolute;
    left: 155px;
    bottom: 45px;
    display: none;
  }

  .section {
    text-align: center;
  }
}
