@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;1,300&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

h1 {
  font-family: 'Ubuntu';
  color: white;
}

p {
  color: white;

}
