.card-product {
  overflow: hidden;
  height: 120px;
  background: transparent;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(3, 146, 15, 0.955);
}

.card-product img {
  height: 90%;
  width: 110px;
  object-fit: cover;
  border-radius: 50%;
  padding-left: 4px;;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
}

.card-product .card-product-infos {
  padding: 16px;
  color: white;
}
