.luiz {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin-bottom: 10px;
  
}

.banner {
  background-image: url("banner.jpg");
  height: 500px;
  width: 100%;
  object-fit: cover;
}

#title {
  padding-top: 50px;
  padding-left: 50px;
  font-size: 5rem;
}

#title_p {
  margin-left: 50px;
  font-size: 1.5rem;
}
