a {
  text-decoration: none;
}

.fa-github {
  color: rgb(9, 244, 28);
  font-size: 30px;
  margin-left: 100px;
}

.fa-github:hover {
  color: rgba(3, 146, 15, 0.955);
}

.fa-linkedin {
  color: rgb(9, 244, 28);
  font-size: 30px;
  margin-left: 20px;
  margin-top: 220px;

}

.fa-linkedin:hover {
  color: rgba(3, 146, 15, 0.955);
}

.fa-at {
  color: rgb(9, 244, 28);
  font-size: 30px;
}
