@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

.navbar-midia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: relative;
  height: 65px;
  background: #F8F9FA;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
}

.navbar-midia .navbar-collapse {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  left: 12px;
  top: 8px;
  background: rgba(255, 255, 255, 1e-06);
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 0px;

}

.img-navbar-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 99.56px;
  height: 56px;
  left: 72.22px;
  top: 0px;
  background: #F8F9FA;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.nav-signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  color: white;
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FD7E14;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 8px;
  border: 1px solid #FD7E14;
}

.nav-signup:hover {
  background: transparent;
  color: #FD7E14;
  border: 1px solid #FD7E14;
  text-decoration: none;
}


.nav-signin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 13px;
  position: static;
  width: 66px;
  height: 38px;
  left: 13px;
  top: 9px;
  background: rgba(255, 255, 255, 1e-06);
  border: 1px solid #FD7E14;
  box-sizing: border-box;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
  color: #FD7E14;
}


.nav-signin:hover {
  background: #FD7E14;
  color: white;
  text-decoration: none;
}

.nav-links {
  color: rgb(146,146,147);
  padding-left: 16px;
  padding-right: 16px;
}

.nav-links:hover {
  color: black;
}

.list-links {
  padding-left: 0;
}
.sign-btn {
  display: flex;
}

/* ---------------------------------------

/* LANDING */

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

/* banner carousel ----------------- */

// .midia-banner-img {
//   width: 100%;


// }


/* Nossa Presença ----------------- */

.action-location-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #FD7E14;
  background: transparent;
  border-radius: 4.8px;
  color: #FD7E14;
  margin-right: 20px;
}

.action-location-btn:hover {
  background: #FD7E14;
  color: white;
  border: 1px solid #FD7E14;
  text-decoration: none;
}

.location-text h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  color: #212529;
  text-align: right;
}

.location-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
  color: #343A40;
}

.midia-location-img {
  width: 536px;
  height: 282px;
}

/* PQ Anunciar em midia exterior / Quem somos ----------------- */


.anuncio-img {
  width: 536px;
  height: 282px;
}

.anuncios h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
}

.action-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #FD7E14;
  background: #FD7E14;
  border-radius: 4.8px;
  color: white;
}

.action-btn:hover {
  background: transparent;
  color: #FD7E14;
  border: 1px solid #FD7E14;
  text-decoration: none;
}

/* Quem somos ----------------- */

.who-we-are-content h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  text-align: right;
  color: #212529;
}

.who-we-are-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: right;
  color: #000000;
}

/* Seja um associado ----------------- */


.associate {
  height: 340px;
  background: #0A58CA;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.associate h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  color: #F8F9FA;
}

.associate p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #F8F9FA;
}

.associate-btn {
  background: rgba(255, 255, 255, 1e-06);
  border: 1px solid #F8F9FA;
  padding: 8px 16px;
  border-radius: 4.8px;
  align-items: center;
  color: white;
  text-decoration: none;
}

.associate-btn:hover {
  background: white;
  color: (255, 255, 255, 1e-06);
  text-decoration: none;
}


/* footer -------------------------------- */

.footer {
  position: absolute;
  width: 100%;
  height: 270px;
  background: #343A40;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.locations p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ADB5BD;
  line-height: 170%;
}

.services p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ADB5BD;
}

.clients p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ADB5BD;
}

.associates-footer p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ADB5BD;
}

.services a {
  color: #ADB5BD;
}

.clients a {
  color: #ADB5BD;
}

.associates-footer a {
  color: #ADB5BD;
}

.services a:hover {
  color: white;
  text-decoration: none;
}

.clients a:hover {
  color: white;
  text-decoration: none;
}

.associates-footer a:hover {
  color: white;
  text-decoration: none;
}

.footer-hr {
  color: #ADB5BD;
  width: 75%;
  height: 2px;
  margin-left: 160px;
}

.footer-rights {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #6C757D;
}

.fa-brands {
  font-size: 30px;
  color: #6C757D;
}

.fa-brands:hover {
color: white;
}
