@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.racer_table td {
  height: 105px;
  width: 120px;
  background-color: rgb(48,48,48);
}

h4 {
  font-family: 'Roboto Mono';
  font-weight: bold;
  color: rgb(9, 244, 28);
}

body {
  background-color: rgb(85,117,54);
}
.racer_table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
#player1_race td.active {
  background-image: url("horse-one.png");
  background-position: center;
}
#player2_race td.active {
  background-image: url("horse.png");
  background-position: center;
  z-index: 2;
}/* Your board style here */

.square {
  border: 1px solid lightgrey;
}

.finish {
  background-image: url("finish.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}


.this_is_the_end1 {
  position: relative;
  background-image: url(images/player_1.png), url(images/check.png);
  background-position: center, center;
  background-size: 100%;
  background-repeat: no-repeat, no-repeat;
}


.this_is_the_end2 {
  position: relative;
  background-image: url(images/player_2.png), url(images/check.png);
  background-position: center, center;
  background-size: 100%;
  background-repeat: no-repeat, no-repeat;
}
